body {
    margin:0;
    padding: 0;
}
.contenedor {
    width:800px; 
    height:600px;
    position:absolute;
}
.caja1{
 background-color: #ee3e64 ;
 width: 200px;
 height: 200px;
 position:absolute;
 left:0px;
 top:0px;
}

.caja2{
    background-color: #44accf ;
    width: 200px;
    height: 200px;
    position:absolute;
    right:0px;
    top:0px;
}

.caja3{
    background-color: #b7d84b ;
    width: 200px;
    height: 200px;
    position:absolute;
    bottom:0px;
    left:0px;
}
.caja4 {
    background-color: #b7d84b ;
    width: 200px;
    height: 200px;
    position:absolute;
    right:0px;
    bottom:0px;

}